body {background-color: black;}
body {background-image: url(https://media.tenor.com/images/93e6661ebc2648cc8aa46add5447a4ca/tenor.gif);}

h3 {
    color: rgb(58, 219, 58);
}
p {
    color:rgb(52, 202, 52);
    
}